<h1><%=  @post.permalink.gsub("-", ' ') %></h1>
</br>
<%= link_to post_path(@post.permalink) do %>
  <%= image_tag @post.image_name, :class => "img-responsive" %>
<% end %>
</br>
<p><%=  @post.content %></p>
